---
import Layout from "../layouts/Layout.astro";
import config from "../config";
import Picture from "../components/Picture.astro";

if (!Astro.cookies.has("token")) {
	return Astro.redirect("/login");
}

let x = await fetch(`${config.API_URL}/allimages`);
const images = await x.json();
console.log;
---

<Layout title="all images">
	<div class="grid grid-cols-4 gap-6">
		{images.map((e) => <Picture pic={e} />)}
	</div>
</Layout>
