---
import Picture from "../components/Picture.astro";
import Layout from "../layouts/Layout.astro";
import config from "../config";

// si no hi ha token, anem a login
if (!Astro.cookies.has("token")) {
	return Astro.redirect("/login");
}

//tenim token, el posem a headers per poder fer la petició GET a la API
let token = Astro.cookies.get("token").value;

const options = { headers: { Authorization: `Bearer ${token}` } };
let images;
let err = "";

images = await fetch(`${config.API_URL}/images`, options);
images = await images.json();
if (images.error) {
	err = images.error;
	images = [];
}
---

<Layout title="imatges meves...">
	<div class="grid grid-cols-4 gap-6">
		{images.map((e) => <Picture pic={e} />)}
	</div>

	<h1 class="text-red-700">{err}</h1>
</Layout>
